name: Build and Deploy App (Prod)

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
    paths:
      - "src/cicloso.tickets.api/**"
      - "src/cicloso.tickets.portal/**"
      - "src/cicloso.tickets.core/**"
      - "src/cicloso.tickets.entities/**"
      - "src/clicloso.tickets.database/**"

env:
  CONFIGURATION: Release
  WORKING_DIRECTORY: ./src
  API_PROJECT: cicloso.tickets.api
  PORTAL_PROJECT: cicloso.tickets.portal
  DATABASE_PROJECT: clicloso.tickets.database

permissions:
  id-token: write
  contents: read

jobs:
  # ========== BUILD JOBS ==========
  build-api:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore NuGet packages
        run: nuget restore "${{ env.WORKING_DIRECTORY }}\cicloso.tickets.sln"

      - name: Build api
        run: msbuild "${{ env.WORKING_DIRECTORY }}\${{ env.API_PROJECT }}\${{ env.API_PROJECT }}.csproj" `
          /p:Configuration=Release ` 
          /p:DeployOnBuild=true `
          /p:DeployDefaultTarget=WebPublish `
          /p:WebPublishMethod=FileSystem `
          /p:publishUrl=${{ github.workspace }}\publish `
          /p:PrecompileBeforePublish=true `
          /p:EnableUpdateable=false

      - name: Compress artifact api
        run: compress-archive ${{ github.workspace }}\publish\* ${{ github.workspace }}\api.zip


      - name: Upload artifact api
        uses: actions/upload-artifact@v4
        with:
          name: api-artifact
          path: ${{ github.workspace }}/api.zip
          retention-days: 1

  build-portal:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.2.0

      - name: Restore NuGet packages
        run: nuget restore "${{ env.WORKING_DIRECTORY }}\cicloso.tickets.sln"

      - name: Build portal
        run: msbuild "${{ env.WORKING_DIRECTORY }}\${{ env.PORTAL_PROJECT }}\${{ env.PORTAL_PROJECT }}.csproj" `
          /p:Configuration=Release ` 
          /p:DeployOnBuild=true `
          /p:DeployDefaultTarget=WebPublish `
          /p:WebPublishMethod=FileSystem `
          /p:publishUrl=${{ github.workspace }}\publish `
          /p:PrecompileBeforePublish=true `
          /p:EnableUpdateable=false

      - name: Compress artifact portal
        run: compress-archive ${{ github.workspace }}\publish\* ${{ github.workspace }}\portal.zip
      
      - name: Upload artifact portal
        uses: actions/upload-artifact@v4
        with:
          name: portal-artifact
          path: ${{ github.workspace }}/portal.zip
          retention-days: 1

  build-database:
    runs-on: windows-latest
    timeout-minutes: 30

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.3.1

      - name: Build database
        run: msbuild "${{ env.WORKING_DIRECTORY }}\${{ env.DATABASE_PROJECT }}\${{ env.DATABASE_PROJECT }}.sqlproj" /p:Configuration=${{ env.CONFIGURATION }}

      - name: Upload artifact database
        uses: actions/upload-artifact@v4
        with:
          name: database-artifact
          path: ${{ env.WORKING_DIRECTORY }}/${{ env.DATABASE_PROJECT }}/bin/Output/*.dacpac
          retention-days: 1

  scan-code:
      runs-on: ubuntu-latest
      needs: [build-api, build-portal, build-database]
      steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7.0.0 # Ex: v4.1.0 or sha1, See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: ${{ env.WORKING_DIRECTORY }}
          args: >
            -Dsonar.organization=daleospina
            -Dsonar.projectName=cicloso-tickets
            -Dsonar.projectKey=cicloso-tickets
            -Dsonar.sources=.
            -Dsonar.verbose=true

  # ========== TEST ENVIRONMENT DEPLOYMENT ==========
